<%- include("./partials/header.ejs") %>

<!-- <div class="create-blog content">
  <form id="blog-form" action=/api/blogs method="POST">
    <label for="titulo">title:</label>
    <textarea id="titulo "name="titulo" required></textarea>

    <label for="snippet">snippet:</label>
    <textarea id="snippet" name="snippet" required></textarea>

    <label for="boddy">boddy:</label>
    <textarea id="boddy" name="boddy" required></textarea>

    <button>crear</button>
  </form>

</div> -->

<script src="/views/index.ejs"></script>
<%- include("./partials/footer.ejs") 